name: Sonar Continuos Integration
env:
  DOTNET_VERSION: '8.0'                     # la versi칩n de .NET
  SONAR_ORG: 'sergio-colque-ponce'                    # Nombre de la organizaci칩n de sonar cloud
  SONAR_PROJECT: 'sergio-colque-ponce_lab-2025-i-cps-u1-04-csharp-sergio-colque-ponce'        # Key ID del proyecto de sonar
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  sonarqube:
    name: Sonarqube Analysis and NuGet Publishing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Configurando la versi칩n de NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Instalar Scanner
        run: dotnet tool install -g dotnet-sonarscanner
      - name: Restaurar dependencias
        run: dotnet restore "src/Shorten.csproj"
      - name: Ejecutar
        run: dotnet test "src/Shorten.csproj" --collect:"XPlat Code Coverage;Format=opencover"
      - name: Iniciar SonarQube
        run: |
          dotnet-sonarscanner begin \
            /k:"${{ env.SONAR_PROJECT }}" \
            /o:"${{ env.SONAR_ORG }}" \
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}" \
            /d:sonar.host.url="https://sonarcloud.io" \
            /d:sonar.cs.opencover.reportsPaths="**/coverage.opencover.xml" \
            /d:sonar.qualitygate.wait=true \
            /d:sonar.exclusions="**/Program.cs,**/appsettings.json,**/lab_04.json,**/*.cshtml.cs"
      - name: Compilar
        run: dotnet build "src/Shorten.csproj"
      - name: Finalizar an치lisis SonarQube
        run: dotnet-sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"